name: Build and Publish Container
on:
  workflow_call:
    inputs:
      push:
        description: 'Whether to push the container image to the registry'
        required: false
        default: false
        type: boolean
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: metaschema-framework/oscal-cli
  # Docs: github.com/docker/metadata-action/?tab=readme-ov-file#typesha
  DOCKER_METADATA_PR_HEAD_SHA: true
  # https://github.com/docker/metadata-action?tab=readme-ov-file#annotations
  DOCKER_METADATA_ANNOTATIONS_LEVELS: manifest,index
jobs:
  build-container:
    name: Container
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      with:
        submodules: recursive
        filter: tree:0
    - name: Download build zip
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
      with:
        name: build_zip
    - name: Container image QEMU setup for cross-arch builds
      id: image_setup_qemu
      uses: docker/setup-qemu-action@49b3bc8e6bdd4a60e6116a5414239cba5943d3cf
    - name: Container image buildx setup for cross-arch builds
      id: image_setup_buildx
      with:
        platforms: linux/amd64,linux/arm64/v8
      uses: docker/setup-buildx-action@988b5a0280414f521da01fcc63a27aeeb4b104db
    - name: Container image login
      id: image_login
      uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Container image metadata and tag generation
      id: image_metadata
      uses: docker/metadata-action@8e5442c4ef9f78752691e2d8f8d19755c6f78e81
      with:
        images:
          ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
        tags: |
          type=sha,prefix=,suffix=,format=long
          type=ref,event=branch
          type=ref,event=tag
          type=ref,event=pr
        flavor: |
          latest=true
        annotations: |
          maintainers="Metaschema Community Admin <admin@metaschema.dev>"
          org.opencontainers.image.authors="Metaschema Community Admin <admin@metaschema.dev>"
          org.opencontainers.image.documentation="https://metaschema.dev"
          org.opencontainers.image.source="https://github.com/metaschema-framework/oscal-cli"
          org.opencontainers.image.vendor="Metaschema Community"
          org.opencontainers.image.title="oscal-cli-extended"
          org.opencontainers.image.description="Metaschema-powered CLI tool for processing OSCAL"
          org.opencontainers.image.licenses="CC0-1.0"
    - if: inputs.push
      name: Container image registry push
      id: image_registry_push
      uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
      with:
        context: .
        file: ./Dockerfile.ci
        push: true
        tags: ${{ steps.image_metadata.outputs.tags }}
        labels: ${{ steps.image_metadata.outputs.labels }}
        platforms: linux/amd64,linux/arm64/v8
        cache-from: type=gha
        cache-to: type=gha,mode=max
    - if: inputs.push
      name: Container image push attestations
      uses: actions/attest-build-provenance@1c608d11d69870c2092266b3f9a6f3abbf17002c
      with:
        subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME}}
        subject-digest: ${{ steps.image_registry_push.outputs.digest }}
        push-to-registry: false
